@import "vars";

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a,
ul,
li,
button,
textarea {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  color: $black;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-preloader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 20px;
  background-color: $green;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  display: flex;
  align-items: center;

  &__nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 2px;
    position: relative;

    &.active {
      &:before {
        content: "";
        width: 50%;
        height: 2px;
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
      }
    }
  }
}

.nav {
  max-width: 350px;
  width: 100%;
  padding: 40px 0;
  background-color: $dark;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 40px;
  }

  &__link {
    padding: 7px 20px 7px 30px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: white;
    transition: all 0.1s ease-in-out;

    &.active {
      background-color: $green;
      color: white;
    }
  }
}

.button {
  width: max-content;
  white-space: nowrap;
  background-color: $dark-green;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
  border: 2px solid transparent;
  position: relative;

  &:before {
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    background-image: url('../img/load.svg');
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &:disabled {
    pointer-events: none;
  }

  &.load {
    color: transparent;

    &:before {
      opacity: 1;
    }
  }

  &.light {
    background-color: transparent;
    border: 2px solid $dark-green;
    color: $dark-green;
  }
}

.content {
  width: calc(100% - 290px);

  &__list {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid $dark-grey;
    border-radius: 2px;
  }

  &__main {
    margin: 40px;
  }

  &__captions {
    display: grid;
    grid-template-columns: 1fr 135px 135px 80px;
    gap: 20px;
    padding: 10px 15px;
    border-bottom: 1px solid $dark-grey;
    background-color: $dark-green;
    color: white;

    &.img {
      grid-template-columns: 60px 1fr 135px 135px 80px;
    }
  }

  &__caption {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  &__top {
    padding: 40px;
    margin-bottom: 30px;
    background: $grey;
  }

  &__row {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: $black;
    font-size: 20px;
    font-weight: 500;
    width: max-content;
    white-space: nowrap;
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: $black;
    display: flex;
    align-items: center;
  }

  &__col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 135px 135px 80px;
    gap: 20px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: $black;
    cursor: pointer;

    &:nth-child(odd) {
      background-color: $grey;
    }

    &.img {
      grid-template-columns: 60px 1fr 135px 135px 80px;
    }

    &:last-child {
      border: none;
    }
  }

  &__fields {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__button {
    text-decoration: none;
    color: $dark-green;
  }

  &__img {
    width: 70px;
    height: 70px;
    background-color: $dark-grey;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__filters {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__message {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
}

.search {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 10px;
    width: 18px;
    height: 18px;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__caption {
    margin-right: 10px;
    font-weight: 500;
    color: $black;
  }

  &__field {
    padding: 10px 13px;
    border: 1px solid #b3b3b3;
    width: 400px;
    border-radius: 2px;
    outline: none;

    &::placeholder {
      color: $black;
    }
  }

  &__list {
    position: absolute;
    z-index: 100;
    top: 37px;
    right: 0;
    background-color: #fff;
    width: 400px;
    border: 1px solid $dark-grey;
    border-top: none;
    max-height: 300px;
    overflow: auto;
    display: none;
    padding: 10px 0;

    &.open {
      display: block;
    }
  }

  &__item {
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;

    &:hover {
      background-color: #60b31b8c;
    }
  }
}

.sort {
  display: flex;
  align-items: center;

  &__caption {
    margin-right: 10px;
    font-weight: 500;
    color: $black;
  }

  &__select {
    padding: 10px 13px;
    border: 1px solid #b3b3b3;
    width: 400px;
    border-radius: 2px;
    outline: none;

    &::placeholder {
      color: $black;
    }
  }
}

.wrap {
  display: flex;
  min-height: 100vh;

  &__btn {
    color: $black;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 20px;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

    &.add {
      background-color: $dark-green;
      color: white;
    }
  }
}

.modal {
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
  }

  &__buttons {
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin-top: 15px;
  }

  &__list {
    min-width: 600px;
    //max-width: 900px;
    border: 1px solid $dark-grey;
    margin-bottom: 20px;
  }

  &__items {
    overflow: auto;
    height: 500px;
    scrollbar-color: $dark-grey #dedede;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dark-grey;
      border-radius: 10px;
      height: 27px;
      cursor: pointer;
      width: 3px;
    }
  }

  &__captions {
    display: grid;
    grid-template-columns: 250px 1fr ;
  }

  &__caption {
    width: 100%;
    word-break: break-word;
    padding: 6px 20px;
    font-weight: 500;
    background-color: #a1a1a140;
    border-bottom: 1px solid $dark-grey;
  }

  &__search {
    font-size: 14px;
    padding: 6px;
    outline: none;
    width: 100%;
    border: 2px solid $dark-grey;
    border-radius: 2px;
    color: $black;

    &:focus {
      border-color: $dark-green;
    }
  }
}

.modal-item {
  padding: 5px 20px;
  font-size: 14px;
  border-bottom: 1px solid $dark-grey;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 35px 35px;
  gap: 20px;
  align-items: center;

  &.active {
    background-color: #60b31b8c;
    font-weight: 500;
  }
}

.modal-item-type {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $dark-grey;
  cursor: pointer;

  &__caption {
    padding: 5px 20px 5px 10px;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      display: block;
      width: 14px;
      height: 12px;
      background-image: url("../img/pack.svg");
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 6px;
    }
  }

  &__list {
    margin-left: 24px;
  }

  &__element {
    padding: 5px;

    &.selected {
      background-color: #60b31b8c;
      font-weight: 500;
    }
  }
}

.react-tabs {
  &__tab-list {
    display: flex;
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
  }

  &__tab {
    padding: 9px 30px;
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    border: 1px solid $dark-green;
    color: $dark-green;
    &--disabled {
      color: $dark-grey;
    }

    &--selected {
      background-color: $dark-green;
      color: white;
    }
  }
}

.input {
  width: 100%;
  margin-bottom: 15px;

  &__caption {
    font-size: 14px;
    font-weight: 500;
    color: #494343;
    margin-bottom: 7px;
  }

  &__field {
    font-size: 14px;
    padding: 10px;
    outline: none;
    width: 100%;
    border: 2px solid $dark-grey;
    color: $black;

    &:focus {
      border-color: $dark-green;
    }
  }
  &__error {
    font-size: 14px;
    margin-top: 5px;
    color: red;
  }
}

.edit-input {
  border: none;
  border-bottom: 2px solid $black;
  background-color: transparent;
  outline: none;
  font-weight: 500;
  padding-bottom: 3px;
}

.input-list {
  width: 100%;
  margin-bottom: 15px;

  &__caption {
    font-size: 14px;
    margin-bottom: 7px;
    font-weight: 500;
    color: #494343;
  }

  &__field {
    font-size: 14px;
    padding: 10px;
    outline: none;
    width: 100%;
    border: 2px solid $dark-grey;

    &:focus {
      border-color: $dark-green;
    }
  }
}

.textarea {
  width: 100%;
  margin-bottom: 15px;

  &__title {
    font-size: 14px;
    margin-bottom: 7px;
    font-weight: 500;
    color: #494343;
  }

  &__field {
    font-size: 14px;
    padding: 10px;
    outline: none;
    width: 100%;
    border: 2px solid $dark-grey;
    resize: none;
    height: 100px;

    &:focus {
      border-color: $dark-green;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 14px;

  &__link {
    text-decoration: none;
    color: #636566;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }

    &:after {
      content: "";
      width: 20px;
      height: 20px;
      display: block;
      background-image: url("../img/back.svg");
      transform: rotate(180deg);
      background-size: cover;
      margin-left: 5px;
    }
  }

  &__item {
    color: $black;
    font-weight: 500;
  }
}

.form {
  &__row {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  &__error {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    color: red;
  }

  &__col {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  &__caption {
    font-size: 18px;
    font-weight: 500;
  }

  &__parameter {
    border-bottom: 2px solid $dark-grey;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__params {
    margin-top: 10px;
  }

  &__buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.select {
  width: 100%;
  margin-bottom: 15px;

  &__caption {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7px;
    color: #494343;
  }

  &__field {
    background-color: transparent;
    display: block;
    font-size: 14px;
    padding: 10px;
    outline: none;
    width: 100%;
    border: 2px solid $dark-grey;
    color: $black;
    cursor: pointer;

    &:focus {
      border-color: $dark-green;
    }
  }
}

.barcode {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
  color: $dark-green;
  text-decoration: underline;
  cursor: pointer;
}

.barcode-item {
  display: grid;
  grid-template-columns: 250px 1fr ;
  align-items: center;
  border-bottom: 1px solid #C1C1C1;
  //cursor: pointer;

  &:hover {
    background-color: #60b31b8c;
  }

  &__col {
    padding: 6px 20px;

  }
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    width: 100%;
    max-width: 400px;
  }
}

.error {
  font-size: 18px;
  color: red;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.table {
  padding: 20px;
  td {
    padding: 5px;
    border: 1px solid black;
  }

  .no-border {
    border: none;
  }
}
.input-file {
  display: flex;
  margin-bottom: 30px;
  &__buttons {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.input-img {
  width: 350px;
  height: 350px;
  display: block;
}

.input-img-empty {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  background-color: $grey;
}